.HomePage {
    padding: 45px 45px 30px 45px;
    background: #f6f6fa;
    max-width: 100%;
    width: calc(100% - 90px);

}

.HomePage > h3 {
    color: #0e1a35;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 25px;
}

.HomePage .FlexWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.HomeActiveLists > li {
    max-width: 475px;
    width: 100%;
}

.HomeActiveLists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*
    Responsive
 */

@media screen and (max-width: 1870px) {

    .HomePage .FlexWrapper {
        justify-content: center;
    }

    .HomePage .InfoSalesCard {
        margin-bottom: 20px;
    }

    .HomePage .HomeActiveLists {
        justify-content: space-around;
    }

    .HomePage .HomeTasksItem {
        margin-bottom: 20px;
    }

    .HomePage .HomeMessagesItem {
        margin-bottom: 20px;
    }

}