.GeneralSales {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GeneralSales li {
    color: #8492af;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.Websites::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background: #25396e;
}

.LogoGeneral::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background: #5584ff;
}

.SocialMedia::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background: #4b74e0;
}

.Adwords::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #3755a4;
}

.ECommerce::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #4164c2;
}