.FlexWrapper {
    display: flex;
    flex-wrap: wrap;
}

.SideMenu {
    background: #1c1839;
    min-height: calc(100vh + 223px);
    max-width: 320px;
    width: 100%;
    float: left;
    overflow: hidden;
}



.NavList {
    display: flex;
    flex-direction: column;
}

.NavList li {
    padding: 40px 0 40px 40px;
    border-top: 2px solid #0b0a10;
    position: relative;

}

.NavList li:last-child {
    border-bottom: 2px solid #0b0a10;
}

.NavList li:hover {
    background: #221b46;

}

.NavList li::before {
    content: "";
    display: block;
    height: 0;
    transition: height .5s;
}

.NavList li:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0;
    width: 10px;
    background: #5584ff;
}

.NavList a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.Home::before {
    content: "";
    display: inline-block;
    height: 21px;
    width: 24px;
    background: url(../../assets/img/home-icon.png) no-repeat;
    margin-right: 10px;
}

.Workflow::before {
    content: "";
    display: inline-block;
    height: 19px;
    width: 20px;
    background: url(../../assets/img/work-flow-icon.png) no-repeat;
    margin-right: 10px;
}

.Statistics::before {
    content: "";
    display: inline-block;
    height: 22px;
    width: 24px;
    background: url(../../assets/img/statistics-icon.png) no-repeat;
    margin-right: 10px;
}

.Calendar::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(../../assets/img/calendar-icon.png) no-repeat;
    margin-right: 10px;
}

.User::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(../../assets/img/users-icon.png) no-repeat;
    margin-right: 10px;
}

.Settings::before {
    content: "";
    display: inline-block;
    height: 22px;
    width: 21px;
    background: url(../../assets/img/settings-icon.png) no-repeat;
    margin-right: 10px;
}

