.HomeHeaderPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: calc(100% - 62px);
    height: 85px;
    padding: 0 30px;
    background: #fff;
    border: 1px solid rgba(132, 146, 175, 0.3);
}

.HomeHeaderPanel h3 {
    color: #0e1a35;
    font-size: 24px;
    font-weight: 500;
}

.HomeHeaderPanel .CountStats {
    display: flex;
}

.HomeHeaderPanel .ActiveStatus {
    width: 45px;
    height: 45px;
    background-color: #5384ff;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-right: 10px;
}

.HomeHeaderPanel .DelayStatus {
    width: 45px;
    height: 45px;
    background-color: #f83c7b;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}